
/*-- scss:rules --*/
@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin theme-slide($number) {
  .theme-slide#{$number} {
    &:is(.slide-background) {
      background-image: url('../../../../../assets/slide#{$number}.webp');
      @include background-full;
    }
  }
}

@for $i from 1 through 5 {
  @include theme-slide($i);
}